body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #1F2937;
    font-weight: bold;
    gap: 470px;
}

header > a {
    font-size: 20px;
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    gap: 20px; 
    color: white;
}

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 450px;
    gap: 100px;
}

.hero-banner .left-side {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-banner .left-side .main-text {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-banner .left-side .primary-text {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-banner .left-side .SignUpButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: medium;  
}

.hero-banner .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #E5E7EB;
    width: 500px;
    height: 250px; /* changes the height of entire hb*/
}

.middle-box {
    display: flex;
    justify-content: space-around;
    height: 400px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    height: 100px;
}

.middle-box .blue-boxes-div {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.blue-box {
    display: flex;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    width: 135px;
    height: 135px;
    border-radius: 10px;
}

.subtext-box {
    display: flex;
    gap: 20px;  
}

.inner-box .subtext {
    display: flex;
}

.quote-box {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 200px;
    background-color: #E5E7EB;
    height: 350px;
}

.quote-box .quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-box .credit {
    display: flex;
    font-size: 18px;
    font-weight: bolder;
}

.quote-box .credit-text {
    display: flex;
    font-weight: bolder;
    align-self: flex-end;
}

.popup-banner {
    background-color: #3882f6;
    height: 150px;
    margin: 60px 200px; /* 1st arg: top and bottom, 2nd arg: left and right*/
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: white;
    
}

.popup-banner .left-side {
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
}

.popup-banner .left-side .h3-text {
    display: flex;
    font-weight: bolder;
    font-size: 20px;
}

.popup-banner .left-side .span-text {
    display: flex;
    justify-content: center;
}

.popup-banner .btn {
    background-color:#3882F6;
    color: white;
    border-color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

.footer {
    height: 70px;
    display: flex;
    align-items: center; /* Moves items horizontally along the cross axis*/
    justify-content: center; /* Moves items vertically along the main axis */
    background: #1F2937;
    color: white;
  }