header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    font-weight: bold;
}

header > a {
    font-size: 20px;
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    gap: 20px; 
}

.hero-banner {
    display: flex;
    flex-direction: column;
}

.hero-banner h2 {
    display: flex
}

.hero-banner p {
    display: flex;
    
}

.hero-banner button {
    display: flex;
    width: 100px;
    justify-content: center;
    
}

.hero-banner .gray-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 350px;
    height: 150px;
    margin-left: auto;
    
}
